//White Mode


$base-bg-color: hsl(0, 0%, 98%);
$sec-bg-color: hsl(0, 0%, 100%);
$box-shadow-color: rgb(121, 121, 121);
$loading-circle-color: rgba(68,68,68,1);
$input-color: hsl(0, 0%, 52%);

//Dark mode
$base-bg-darkmode-color: hsl(207, 26%, 17%);
$sec-bg-darkmode-color:  hsl(209, 23%, 22%);
$text-darkomode-color: hsl(0, 0%, 100%);

//BreakPoints
$screen-lg-min: 1440px;