.country {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
   height: 350px;
   border-radius: 15px;
   background-color: #fff;
   box-shadow: 0px 2px 20px -10px rgb(121, 121, 121);
   overflow: hidden;
   margin-bottom: 40px;
   .flag {
      height: 50%;
      width: 100%;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_the_Taliban.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
   }
   .desc {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.6em;
      font-weight: 600;
      padding: 20px 20px 40px;
    .name{
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
   }
   .population,.region, .capital  {
      width: 100%;
      font-weight: 300;
      span {
         font-weight: 600;
      }
   }

   
}
}