.countries {
   position: relative;
   background-color: $sec-bg-color;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   height: 60%;
   top: 320px;
   z-index: 0;
}