

.filter {
   position: relative;
   display: flex;
   justify-content: left;
   position: fixed;
   background-color: inherit;
   top: 220px;
   min-height: 50px;
   width: 80%;
   z-index: 2;
   
   .filter-button, .filter-list {
      background-color: $sec-bg-color;
      width: 200px;
      box-shadow: 0px 2px 20px -10px rgb(121, 121, 121);
      border-radius: 5px;
   }
   .filter-button {
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      border: none;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 600;
      font-size: 1.4em;
   }
   .filter-list {
      display: none;
      position: absolute;
      flex-wrap: wrap;
      bottom: -5px;
      transform: translateY(100%);
      min-height: 100px;
      overflow: hidden;
      padding: 10px 0 10px;
      transition: .2s;
      li {
         font-size: 1.4em;
         font-weight: 600;
         font-family: 'Nunito Sans', sans-serif;
         width: 100%;
         padding: 10px 20px;
         // margin: 10px;
      }
      li:hover {
         background-color: #f8f8f8;
      }
      }
   .filter-list-active{ display: block}
}