.loading {
   display: grid;
   place-items: start center;
   width: 100%;
   min-height: 100%;
   &__circle {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 4px solid transparent;
      border-top-color:  $loading-circle-color;
      animation: spin .8s linear infinite;
   }
}

@keyframes spin {
   0% {
     transform: rotate(0);
   }
   100% {
     transform: rotate(1turn);
   }
}